logic-app/workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "triggers": {
    "When_a_new_email_arrives_(V3)": {
      "type": "ApiConnectionNotification",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "fetch": {
          "pathTemplate": {
            "template": "/v3/Mail/OnNewEmail"
          },
          "method": "get",
          "queries": {
            "importance": "Any",
            "fetchOnlyWithAttachment": false,
            "includeAttachments": true,
            "folderPath": "Inbox",
            "subjectFilter": "[DEMO]"
          }
        },
        "subscribe": {
          "body": {
            "NotificationUrl": "@{listCallbackUrl()}"
          },
          "pathTemplate": {
            "template": "/GraphMailSubscriptionPoke/$subscriptions"
          },
          "method": "post",
          "queries": {
            "importance": "Any",
            "fetchOnlyWithAttachment": false,
            "folderPath": "Inbox",
            "subjectFilter": "[DEMO]"
          }
        }
      },
      "splitOn": "@triggerBody()?['value']"
    }
  },
  "actions": {
    "Initialize_Attachments_Array": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "attachments",
            "type": "array",
            "value": []
          }
        ]
      },
      "runAfter": {}
    },
    "Initialize_Status_History": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "statusHistory",
            "type": "array",
            "value": [
              {
                "status": "Email received",
                "timestamp": "@{utcNow()}"
              }
            ]
          }
        ]
      },
      "runAfter": {
        "Initialize_Attachments_Array": [
          "Succeeded"
        ]
      }
    },
    "Create_Initial_Cosmos_Document": {
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['cosmosdb']['connectionId']"
          }
        },
        "method": "post",
        "body": {
          "id": "@{triggerBody()?['id']}",
          "messageId": "@{coalesce(triggerBody()?['internetMessageId'], triggerBody()?['id'])}",
          "subject": "@{triggerBody()?['subject']}",
          "body": "@triggerBody()?['body']",
          "bodyPreview": "@{triggerBody()?['bodyPreview']}",
          "from": "@triggerBody()?['from']",
          "toRecipients": "@triggerBody()?['toRecipients']",
          "receivedDateTime": "@{triggerBody()?['receivedDateTime']}",
          "hasAttachments": "@triggerBody()?['hasAttachments']",
          "importance": "@{triggerBody()?['importance']}",
          "conversationId": "@{triggerBody()?['conversationId']}",
          "statusHistory": "@variables('statusHistory')"
        },
        "path": "/v2/cosmosdb/@{encodeURIComponent('__COSMOS_ACCOUNT__')}/dbs/@{encodeURIComponent('email-analyzer-db')}/colls/@{encodeURIComponent('emails')}/docs",
        "headers": {
          "x-ms-documentdb-is-upsert": "True"
        }
      },
      "runAfter": {
        "Initialize_Status_History": [
          "Succeeded"
        ]
      }
    },
    "For_Each_Attachment": {
      "type": "Foreach",
      "foreach": "@triggerBody()?['attachments']",
      "actions": {
        "Get_Attachment_(V2)": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['office365']['connectionId']"
              }
            },
            "method": "get",
            "path": "/codeless/v1.0/me/messages/@{encodeURIComponent(triggerBody()?['id'])}/attachments/@{encodeURIComponent(items('For_Each_Attachment')?['id'])}"
          }
        },
        "Create_Blob": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureblob']['connectionId']"
              }
            },
            "method": "post",
            "body": "@base64ToBinary(body('Get_Attachment_(V2)')?['contentBytes'])",
            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('__STORAGE_ACCOUNT__'))}/files",
            "queries": {
              "folderPath": "/email-attachments/@{encodeURIComponent(triggerBody()?['id'])}",
              "name": "@body('Get_Attachment_(V2)')?['name']",
              "queryParametersSingleEncoded": true
            }
          },
          "runAfter": {
            "Get_Attachment_(V2)": [
              "Succeeded"
            ]
          }
        },
        "Check_If_PDF": {
          "type": "If",
          "expression": {
            "or": [
              {
                "contains": [
                  "@toLower(body('Get_Attachment_(V2)')?['contentType'])",
                  "pdf"
                ]
              },
              {
                "endsWith": [
                  "@toLower(body('Get_Attachment_(V2)')?['name'])",
                  ".pdf"
                ]
              }
            ]
          },
          "actions": {
            "Call_Content_Understanding_API": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "__CONTENT_UNDERSTANDING_ENDPOINT__/contentunderstanding/analyzers/__CONTENT_UNDERSTANDING_ANALYZER_ID__:analyze?api-version=2025-11-01",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "inputs": [
                    {
                      "data": "@{body('Get_Attachment_(V2)')?['contentBytes']}",
                      "mimeType": "application/pdf"
                    }
                  ]
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://cognitiveservices.azure.com/"
                }
              },
              "operationOptions": "DisableAsyncPattern"
            },
            "Until_Analysis_Complete": {
              "type": "Until",
              "expression": "@equals(body('Poll_Analysis_Status')?['status'], 'Succeeded')",
              "limit": {
                "count": 60,
                "timeout": "PT10M"
              },
              "actions": {
                "Poll_Analysis_Status": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{outputs('Call_Content_Understanding_API')['headers']['Operation-Location']}",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://cognitiveservices.azure.com/"
                    }
                  }
                },
                "Delay_Between_Polls": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 5,
                      "unit": "Second"
                    }
                  },
                  "runAfter": {
                    "Poll_Analysis_Status": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Call_Content_Understanding_API": [
                  "Succeeded"
                ]
              }
            },
            "Append_PDF_Attachment_With_Analysis": {
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "attachments",
                "value": {
                  "name": "@body('Get_Attachment_(V2)')?['name']",
                  "contentType": "@body('Get_Attachment_(V2)')?['contentType']",
                  "size": "@body('Get_Attachment_(V2)')?['size']",
                  "blobPath": "email-attachments/@{encodeURIComponent(triggerBody()?['id'])}/@{body('Get_Attachment_(V2)')?['name']}",
                  "contentUnderstanding": "@body('Poll_Analysis_Status')"
                }
              },
              "runAfter": {
                "Until_Analysis_Complete": [
                  "Succeeded"
                ]
              }
            }
          },
          "else": {
            "actions": {
              "Append_Non_PDF_Attachment": {
                "type": "AppendToArrayVariable",
                "inputs": {
                  "name": "attachments",
                  "value": {
                    "name": "@body('Get_Attachment_(V2)')?['name']",
                    "contentType": "@body('Get_Attachment_(V2)')?['contentType']",
                    "size": "@body('Get_Attachment_(V2)')?['size']",
                    "blobPath": "email-attachments/@{encodeURIComponent(triggerBody()?['id'])}/@{body('Get_Attachment_(V2)')?['name']}"
                  }
                }
              }
            }
          },
          "runAfter": {
            "Create_Blob": [
              "Succeeded"
            ]
          }
        }
      },
      "runAfter": {
        "Create_Initial_Cosmos_Document": [
          "Succeeded"
        ]
      },
      "runtimeConfiguration": {
        "concurrency": {
          "repetitions": 1
        }
      }
    },
    "Check_Has_Attachments": {
      "type": "If",
      "expression": {
        "and": [
          {
            "equals": [
              "@triggerBody()?['hasAttachments']",
              true
            ]
          }
        ]
      },
      "actions": {
        "Append_Attachments_Processed_Status": {
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "statusHistory",
            "value": {
              "status": "Attachments processed",
              "timestamp": "@{utcNow()}"
            }
          }
        },
        "Update_Cosmos_With_Attachments": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['cosmosdb']['connectionId']"
              }
            },
            "method": "post",
            "body": {
              "id": "@{triggerBody()?['id']}",
              "messageId": "@{coalesce(triggerBody()?['internetMessageId'], triggerBody()?['id'])}",
              "subject": "@{triggerBody()?['subject']}",
              "body": "@triggerBody()?['body']",
              "bodyPreview": "@{triggerBody()?['bodyPreview']}",
              "from": "@triggerBody()?['from']",
              "toRecipients": "@triggerBody()?['toRecipients']",
              "receivedDateTime": "@{triggerBody()?['receivedDateTime']}",
              "hasAttachments": "@triggerBody()?['hasAttachments']",
              "importance": "@{triggerBody()?['importance']}",
              "conversationId": "@{triggerBody()?['conversationId']}",
              "attachments": "@variables('attachments')",
              "statusHistory": "@variables('statusHistory')"
            },
            "path": "/v2/cosmosdb/@{encodeURIComponent('__COSMOS_ACCOUNT__')}/dbs/@{encodeURIComponent('email-analyzer-db')}/colls/@{encodeURIComponent('emails')}/docs",
            "headers": {
              "x-ms-documentdb-is-upsert": "True"
            }
          },
          "runAfter": {
            "Append_Attachments_Processed_Status": [
              "Succeeded"
            ]
          }
        }
      },
      "else": {
        "actions": {}
      },
      "runAfter": {
        "For_Each_Attachment": [
          "Succeeded"
        ]
      }
    },
    "Classify_Email": {
      "type": "Http",
      "inputs": {
        "method": "POST",
        "uri": "__FOUNDRY_AGENT_ENDPOINT__/openai/responses?api-version=2025-11-15-preview",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": {
          "input": "Subject: @{triggerBody()?['subject']}\n\nBody: @{triggerBody()?['bodyPreview']}",
          "agent": {
            "name": "EmailClassifierAgent",
            "type": "agent_reference"
          }
        },
        "authentication": {
          "type": "ManagedServiceIdentity",
          "audience": "https://ai.azure.com"
        }
      },
      "runAfter": {
        "Check_Has_Attachments": [
          "Succeeded"
        ]
      }
    },
    "Parse_Classification": {
      "type": "Compose",
      "inputs": "@json(body('Classify_Email')?['output'][1]?['content'][0]?['text'])",
      "runAfter": {
        "Classify_Email": [
          "Succeeded"
        ]
      }
    },
    "Append_Classified_Status": {
      "type": "AppendToArrayVariable",
      "inputs": {
        "name": "statusHistory",
        "value": {
          "status": "Email classified",
          "timestamp": "@{utcNow()}"
        }
      },
      "runAfter": {
        "Parse_Classification": [
          "Succeeded"
        ]
      }
    },
    "Update_Cosmos_Final": {
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['cosmosdb']['connectionId']"
          }
        },
        "method": "post",
        "body": {
          "id": "@{triggerBody()?['id']}",
          "messageId": "@{coalesce(triggerBody()?['internetMessageId'], triggerBody()?['id'])}",
          "subject": "@{triggerBody()?['subject']}",
          "body": "@triggerBody()?['body']",
          "bodyPreview": "@{triggerBody()?['bodyPreview']}",
          "from": "@triggerBody()?['from']",
          "toRecipients": "@triggerBody()?['toRecipients']",
          "receivedDateTime": "@{triggerBody()?['receivedDateTime']}",
          "hasAttachments": "@triggerBody()?['hasAttachments']",
          "importance": "@{triggerBody()?['importance']}",
          "conversationId": "@{triggerBody()?['conversationId']}",
          "attachments": "@variables('attachments')",
          "classification": "@outputs('Parse_Classification')",
          "processedAt": "@{utcNow()}",
          "statusHistory": "@variables('statusHistory')"
        },
        "path": "/v2/cosmosdb/@{encodeURIComponent('__COSMOS_ACCOUNT__')}/dbs/@{encodeURIComponent('email-analyzer-db')}/colls/@{encodeURIComponent('emails')}/docs",
        "headers": {
          "x-ms-documentdb-is-upsert": "True"
        }
      },
      "runAfter": {
        "Check_Has_Attachments": [
          "Succeeded",
          "Failed"
        ],
        "Append_Classified_Status": [
          "Succeeded",
          "Failed",
          "Skipped"
        ]
      }
    }
  },
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  }
}
